{% extends 'adminbase.html.twig' %}

{% block title %}Hello RoomController!{% endblock %}

{% block body %}

    <a href="{{ path('room_create') }}"> Create Room </a>

    <table class="table table-striped table-sm">
        <thead>
        <tr>
            <th scope="col">#ID</th>
            <th scope="col">Title</th>
            <th scope="col">Description</th>
            <th scope="col">Price</th>
            <th scope="col">Number</th>
            <th scope="col">Status</th>
            <th scope="col"> Image </th>
            <th> Actions </th>
        </tr>
        </thead>

        <tbody>

            {% for room in rooms %}
                <tr>
                    <td> {{ room.id }} </td>
                    <td> {{ room.title }} </td>
                    <td> {{ room.description }} </td>
                    <td> {{ room.price }} </td>
                    <td> {{ room.number }} </td>
                    <td> {{ room.status }} {{ uploaded_asset(room.imageFilename) }} </td>
                    <td> <img class="room-img" src="{{ uploaded_asset(room.imageFilename) }}"></td>
                    <td>
                        <form method="post" action="{{ path('room_delete', {'id': room.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
{#                            <a#}
{#                                    class="btn btn-outline-info"#}
{#                                    href="{{ path('project_show', {'id': room.id}) }}">#}
{#                                Show#}
{#                            </a>#}
                            <a
                                    class="btn btn-outline-success"
                                    href="{{ path('room_edit', {'id': room.id}) }}">
                                Edit
                            </a>

                            <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ room.id) }}">
                            <button class="btn btn-outline-danger">Delete</button>
                        </form>
                    </td>
                </tr>

            {% else %}
                <tr>
                    <td colspan="9">no records found</td>
                </tr>
            {% endfor %}

        </tbody>
{% endblock %}
