{% extends 'adminbase.html.twig' %}

{% block title %}Hello RoomController!{% endblock %}

{% block body %}

    <a href="{{ path('roomtype_create') }}"> Create Room Type </a>

    <table class="table table-striped table-sm">
        <thead>
        <tr>
            <th scope="col">#ID</th>
            <th scope="col">name</th>
            <th> Actions </th>
        </tr>
        </thead>

        <tbody>

            {% for roomtype in roomtypes %}
                <tr>
                    <td> {{ roomtype.id }} </td>
                    <td> {{ roomtype.name }} </td>
                    <td>
                        <form method="post" action="{{ path('roomtype_delete', {'id': roomtype.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
{#                            <a#}
{#                                    class="btn btn-outline-info"#}
{#                                    href="{{ path('project_show', {'id': room.id}) }}">#}
{#                                Show#}
{#                            </a>#}
                            <a
                                    class="btn btn-outline-success"
                                    href="{{ path('roomtype_edit', {'id': roomtype.id}) }}">
                                Edit
                            </a>

                            <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ roomtype.id) }}">
                            <button class="btn btn-outline-danger">Delete</button>
                        </form>
                    </td>
                </tr>

            {% else %}
                <tr>
                    <td colspan="9">no records found</td>
                </tr>
            {% endfor %}

        </tbody>
{% endblock %}
